Testing/ePayTest/ePayTest/Service References/TMSService/epayTMS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebPOS.Library.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebPOS.Library.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="BusinessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Credit" nillable="true" type="tns:Credit" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IBOAccountId" type="xs:int" />
      <xs:element minOccurs="0" name="IBOSalesNodeId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetailerAcc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="Credit">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableCredit" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyLimit" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalSaleToday" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalSaleWeekly" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeeklyLimit" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credit" nillable="true" type="tns:Credit" />
</xs:schema>